/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



@font-face {
    font-family: norse-bold;
    src: url(Norse-Bold.otf);
}

body {
    background: url('kira-laktionov-ylaZ1uT0JPY-unsplash.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    background-position:left;
}
.page-container {
   width: 100vw;
   display: flex;
   align-items: center;
}
.side-image {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100px;
    width: 32vw;
    margin-bottom: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-image img {
    height: 90px;
}
.side-image p {
    color: white;
    font-family: norse-bold;
    font-size: 35px;
    letter-spacing: .15em;
}

.main {
    height: 100vh;
    background-color: rgb(244, 247, 243);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 70%;
}

.testimonial p {
    font-size: 1.3em;
    width: 500px;
    padding-bottom: 1em;
}
input {
    display: flex;
}
form div input {
    border-radius: 5px;
}

form {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.top-section,
.main-card,
.bottom-section {
    background-color: rgb(249, 248, 243);
    padding: 1em;
}

.main-card {
background-color: rgb(253, 253, 253);

z-index: 1;
box-shadow:  0px 3px 5px rgba(0, 0, 0, 0.4);
}

